.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.form .btn {
  background: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
